Website/.vs/config/applicationhost.config
Website/.vs/Website/v14/.suo
Website/.vs/config/applicationhost.config
Website/.vs/config/applicationhost.config
Website/Website/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Website/.vs/config/applicationhost.config