
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Library Management System</h2>
<hr />
<h2>Features:</h2>
<ul class="list-group">
    <li class="list-group-item">Uses <b>ASP.NET MVC Framework</b> with <b>MS SQL</b> for data persistance</li>
    <li class="list-group-item"><b>Bootstrapper</b> for Styling</li>
    <li class="list-group-item">Books Management for Administrator</li>
    <li class="list-group-item">Student Registration</li>
    <li class="list-group-item">Student Book Search (Using Polymorphism)</li>
    <li class="list-group-item">Student Self-Checkout</li>
</ul>
<hr />
<h3>Project Developers:</h3>
<ul class="list-inline">
    <li class="list-group-item">Tauseef Indikar</li>
    <li class="list-group-item">Gaurav Shukla</li>
    <li class="list-group-item">Nicolas Neitzel</li>
    <li class="list-group-item">Sanketh Shetty</li>
</ul>