
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewBag.Message</p>

<p>Welcome to Library Management System</p>

<ul>
    <li><h1>Salient Features</h1></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>