<!DOCTYPE HTML>
<head>
    <title>Library Management System</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="/assets/LMS.ico" type="image/vnd.microsoft.icon" />
    <!--[if lte IE 8]><script src="/js/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="~/js/webscripts.js"></script>
    <script src="/js/imageMapResizer.min.js"></script>
    <link rel="stylesheet" href="/css/skel-noscript.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        <div id="header">
            <div class="container">
                <!-- Logo -->
                <div id="logo">
                    <h1><a href="http://physicslearning.colorado.edu/"><img src="/images/logo.png" style="vertical-align:middle" />&nbsp;&nbsp;Library Management System</a></h1>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/ldl/">Library</a></li>
                        <li class="active"><a href="//">Home</a></li>
                        <li><a href="http://www.colorado.edu">University of Colorado Boulder</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /Header -->

        <div id="page">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <section id="content">
                            <center>
                                <header>
                                    <noscript>
                                        <div class="noscriptmsg">
                                            You don't have javascript enabled.  Good luck with that.
                                        </div>
                                    </noscript>
                                    This is the Library Management System homepage. Click <a href="#">Here</a> to Get In.
                                    <br />
                                    <div style="display:table">
                                        <form action="verify.aspx" method="post">
                                            <div style="display:table-row">
                                                <div style="display:table-cell">Username: </div><div style="display:table-cell"><input type="text" name="name"></div>
                                            </div>
                                            <div style="display:table-row">
                                                <div style="display:table-cell">Password: </div><div style="display:table-cell"><input type="password" name="password"></div>
                                            </div>
                                            <div style="display:table-row">
                                                <div style="display:table-cell"><input type="submit" value="Login"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <br /><br />@DateTime.Now
                                </header>
                            </center>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div id="footer">
            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <a href="http://colorado.edu">CSCI5448 Class Project - Library Management System</a>
                </div>
            </div>
        </div>
</body>
</html>