#sliderholder {
    text-align: center;
    width:70%;
    margin: auto;
    padding: 1em;
    background-color: rgba(206,198,160,0.5);
    border-radius: 2%;
}

.sliderlabels input[name='slide_switch'] {
    display: none;
}
.sliderlabels input[name='slide_switch']:checked, .sliderlabels input[name='slide_switch']:checked+label  {
    opacity: .8;
}

.sliderlabels input[name='slide_switch'], .sliderlabels label {
    cursor: pointer;
    opacity: 0.25;
    transition: all 0.5s;
}

.sliderimages {
    height:35em;max-height: 60vh;
}

.sliderimages img{
    display:none;
    opacity: 0;
    margin:auto;
    transition: all 0.5s;
    height:100%;
    width:auto;
    max-width: 100%;
}
#imgid1{
    display:block;
    opacity:1;
}